@use '../../Styles/variables' as *;

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: $cream;
}

.opacity {
  position: absolute;
  top: -.5rem;
  background-color: $cream;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) -50%, rgba(0,0,0,1));
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: bottom, top ;
  
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) -50%, rgba(0,0,0,1));
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom top ;
  
  width: 100%;
  padding: .25rem;
}

.navParent {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  justify-content: center;
  background-color: transparent;

  button {
    font: $body-text;
    border-radius: 12px;
    background-color: $dark-cyan;
    color: white;
    padding: 0.25rem 1rem;
  }

  button:hover {
    cursor: pointer;
    background-color: $v-dark-blue;
  }
}